.pagingWrapper
    .total-results
        | Total 
        span.total-results-count
        |  Results
    .pager-data
        span.first « First
        span.previous Previous
        span.numeric
        span.next Next
        span.last Last »
    .pageInfo